/* styles.css - Global */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background: #f5faff; /* celeste muy claro */
  color: #333;
}

/* Reinicio general */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
